<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <!--指定日志文件保存的目录-->
    <file value="log4net.log" />
    <!--追加日志内容-->
    <appendToFile value="true" />
    
    <maximumFileSize value="10MB" />
    <maxSizeRollBackups value="10" />
    
    <layout type="log4net.Layout.PatternLayout">
		<!-- 输出日期 错误等级 类名 方法名 信息 换行-->
		<conversionPattern value="%date %level %c %M %message%newline" />
    </layout>
  </appender>

  <root>
	<!-- ALL < DEBUG < INFO < WARN < ERROR < FAITAL  --> 
    <level value="WARN" />
    <appender-ref ref="RollingFile" />
  </root>
</log4net>